[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xarray = "*"
psycopg2-binary = "*"
click = "*"
rich = "*"
netcdf4 = "*"
pyyaml = "*"
oyaml = "*"
iteration-utilities = "*"

[dev-packages]

[requires]
python_version = "3.9"
