[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xarray = "*"
psycopg2-binary = "*"
click = "*"
rich = "*"
netCDF4 = "*"
PyYAML = "*"
oyaml = "*"
iteration-utilities = "*"
SQLAlchemy = "*"
GeoAlchemy = "*"
geoalchemy2 = "*"
sqlalchemy-citext = "*"

[dev-packages]

[requires]
python_version = "3.9"
