altgraph==0.17
appdirs==1.4.4
apsw==3.34.0.post1
apturl==0.5.2
arrow==0.17.0
astor==0.8.1
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
blinker==1.4
Brlapi==0.8.2
cachetools==4.2.1
certifi==2020.6.20
cffi==1.14.5
chardet==4.0.0
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
colour==0.1.5
command-not-found==0.3
configobj==5.0.6
coverage==5.1
cryptography==3.3.2
css-parser==1.0.6
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
discodos==1.0rc2
distlib==0.3.2
distro==1.5.0
distro-info==1.0
dnspython==1.16.0
docopt==0.6.2
dropbox==10.10.0
duplicity==0.8.17
easygui==0.98.1
easywebdav==1.2.0
ecdsa==0.16.1
eyeD3==0.8.10
fasteners==0.14.1
feedparser==5.2.1
filelock==3.0.12
funcparserlib==0.3.6
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.4
gpg===1.14.0-unknown
gphoto2==1.9.0
gyp==0.1
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.18.1
hy==0.19.0
idna==2.10
ifaddr==0.1.7
importlib-metadata==1.6.0
iniconfig==0.0.0
isodate==0.6.0
JACK-Client==0.5.3
jeepney==0.6.0
jsonschema==3.2.0
kazam==1.4.5
keyring==22.2.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
libvirt-python==7.0.0
lockfile==0.12.2
louis==3.16.0
lxml==4.6.3
macaroonbakery==1.3.1
macholib==1.14
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mechanize==0.4.5
monotonic==1.5
more-itertools==4.2.0
msgpack==1.0.0
musicbrainzngs==0.7.1
natsort==7.1.0
netifaces==0.10.9
notmuch==0.31.4
numpy==1.19.5
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
packaging==20.9
paramiko==2.7.2
pbr==5.5.1
pdfarranger==1.6.2
pefile==2019.4.18
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.1.0
pgspecial==1.11.10
pikepdf==1.17.3+dfsg
Pillow==8.1.2
pluggy==0.13.0
ply==3.11
prompt-toolkit==3.0.14
protobuf==3.12.4
psutil==5.8.0
psycopg2==2.8.6
py==1.10.0
py7zr==0.0.0
pyalsaaudio==0.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycairo==1.16.2
pychm==0.8.6
pycparser==2.20
pycryptodomex==3.9.7
pycups==2.0.1
pyelftools==0.27
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==1.7.1
pyliblo==0.10.0
pymacaroons==0.13.0
pymediainfo==5.0.3
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
pyRFC3339==1.1
pyrsistent==0.15.5
pytest==6.0.2
python-apt===2.2.0-ubuntu0.21.04.1
python-dateutil==2.8.1
python-debian==0.1.39
python-distutils-extra==2.39
python-gnupg==0.4.6
python-magic==0.4.20
python3-discogs-client==2.3.5
pytz==2021.1
pytzdata==2020.1
pyxdg==0.27
PyYAML==5.3.1
pyzmq==20.0.0
rapid-photo-downloader==0.9.26
rawkit==0.6.0
rdflib==5.0.0
regex==2020.11.13
reportlab==3.5.66
repoze.lru==0.7
requests==2.25.1
Routes==2.5.1
rply==0.7.7
rsa==4.0
scour==0.38.2
SecretStorage==3.3.1
Send2Trash==1.6.0b1
setproctitle==1.2.1
simplejson==3.17.2
six==1.15.0
sortedcontainers==2.1.0
soupsieve==2.2
SPARQLWrapper==1.8.5
SQLAlchemy==1.3.22
sqlparse==0.4.1
ssh-import-id==5.11
stevedore==3.3.0
systemd-python==234
tabulate==0.8.7
tenacity==6.2.0
terminaltables==3.1.0
texttable==1.6.3
toml==0.10.1
tornado==6.1
tqdm==4.57.0
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.2
usb-creator==0.3.7
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wadllib==1.3.5
wcwidth==0.1.9
webdavclient3==3.14.5
webencodings==0.5.1
WebOb==1.8.6
wxPython==4.0.7
xdg==5
xkit==0.0.0
zeroconf==0.26.1
zipp==1.0.0
